<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318800623579-9on8gc8bjdamafgekphk0je9ebcglv4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318800623579-9on8gc8bjdamafgekphk0je9ebcglv4h</string>
	<key>API_KEY</key>
	<string>AIzaSyDRkJ_11bVzWi7z2e3mBgIAbvXhd8iFsrI</string>
	<key>GCM_SENDER_ID</key>
	<string>318800623579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rxComrade</string>
	<key>PROJECT_ID</key>
	<string>rx-comrade</string>
	<key>STORAGE_BUCKET</key>
	<string>rx-comrade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318800623579:ios:0750bc51be789aabf8d9fe</string>
</dict>
</plist>